In [1]:
names=["saeed","rana","ali","fraz","saddiq","ramzan"]

In [2]:
names

['saeed', 'rana', 'ali', 'fraz', 'saddiq', 'ramzan']

# ACCESS THE VALUE

In [3]:
names[4]

'saddiq'

In [4]:
names[2]

'ali'

In [5]:
names[5]

'ramzan'

# LENGTH OF LIST

In [6]:
len(names)

6

In [7]:
number=[2,4,10,5,782,55,]

In [8]:
len(number)

6

In [9]:
number

[2, 4, 10, 5, 782, 55]

In [10]:
names

['saeed', 'rana', 'ali', 'fraz', 'saddiq', 'ramzan']

# ADDING A VALUE IN LISTS

In [11]:
#   WE USED THE FUNCTION 
append()

In [12]:
names.append("shakeel")

In [13]:
names

['saeed', 'rana', 'ali', 'fraz', 'saddiq', 'ramzan', 'shakeel']

In [14]:
number.append(77)

In [15]:
number

[2, 4, 10, 5, 782, 55, 77]

#  INSERT

In [16]:
#  WE USED INSERT FOR ADDING VALUE ON ANY INDEX

In [17]:
names

['saeed', 'rana', 'ali', 'fraz', 'saddiq', 'ramzan', 'shakeel']

In [19]:
names.insert(3,"irfan")

names

In [20]:
print(names)

['saeed', 'rana', 'ali', 'irfan', 'fraz', 'saddiq', 'ramzan', 'shakeel']

In [21]:
names

['saeed', 'rana', 'ali', 'irfan', 'fraz', 'saddiq', 'ramzan', 'shakeel']

In [22]:
names.insert(0,"ramzan")

In [23]:
names

['ramzan',
 'saeed',
 'rana',
 'ali',
 'irfan',
 'fraz',
 'saddiq',
 'ramzan',
 'shakeel']

In [24]:
print(names)

['ramzan', 'saeed', 'rana', 'ali', 'irfan', 'fraz', 'saddiq', 'ramzan', 'shakeel']

#   EXTEND FUNCTION

In [29]:
number

[2, 4, 10, 5, 782, 55, 77, 20, 30, 40, 60]

In [26]:
number.extend([20,30,40,60])

In [27]:
number

[2, 4, 10, 5, 782, 55, 77, 20, 30, 40, 60]

In [28]:
#  WE ADD MORE THAN ONE VALUES IN LISTS

#  COUNT FUNCTION

In [30]:
names

['ramzan',
 'saeed',
 'rana',
 'ali',
 'irfan',
 'fraz',
 'saddiq',
 'ramzan',
 'shakeel']

In [31]:
names.count("ramzan")

2

In [32]:
number.extend([10,10,10,10])

In [33]:
number

[2, 4, 10, 5, 782, 55, 77, 20, 30, 40, 60, 10, 10, 10, 10]

In [34]:
number.count(10)

5

#   INDEX FUNCTION

In [35]:
#  WE CAN FIND VALUE OF INDEX

In [36]:
names

['ramzan',
 'saeed',
 'rana',
 'ali',
 'irfan',
 'fraz',
 'saddiq',
 'ramzan',
 'shakeel']

In [37]:
names.index("saddiq")

6

In [38]:
names.index("saeed")

1

#   CLEAR FUNCTION

In [39]:
sub=["eng","urdu","math"]

In [40]:
sub

['eng', 'urdu', 'math']

In [41]:
sub.clear()

In [42]:
sub

[]

In [43]:
#  it is used for delete all value permanently

#  COPY FUNCTION

In [44]:
# COPY BY VALUE

In [45]:
names

['ramzan',
 'saeed',
 'rana',
 'ali',
 'irfan',
 'fraz',
 'saddiq',
 'ramzan',
 'shakeel']

In [47]:
names2=names.copy()

names2

In [48]:
print(names2)

['ramzan', 'saeed', 'rana', 'ali', 'irfan', 'fraz', 'saddiq', 'ramzan', 'shakeel']

In [49]:
names

['ramzan',
 'saeed',
 'rana',
 'ali',
 'irfan',
 'fraz',
 'saddiq',
 'ramzan',
 'shakeel']

In [50]:
names5=names    ###COPY BY REFERENCE

In [51]:
names5

['ramzan',
 'saeed',
 'rana',
 'ali',
 'irfan',
 'fraz',
 'saddiq',
 'ramzan',
 'shakeel']

In [52]:
names.append("ijaz")

In [53]:
names

['ramzan',
 'saeed',
 'rana',
 'ali',
 'irfan',
 'fraz',
 'saddiq',
 'ramzan',
 'shakeel',
 'ijaz']

In [54]:
names2

['ramzan',
 'saeed',
 'rana',
 'ali',
 'irfan',
 'fraz',
 'saddiq',
 'ramzan',
 'shakeel']

In [55]:
names5

['ramzan',
 'saeed',
 'rana',
 'ali',
 'irfan',
 'fraz',
 'saddiq',
 'ramzan',
 'shakeel',
 'ijaz']

#  REMOVING AN ITEM FROM THE LISTS

In [56]:
names

['ramzan',
 'saeed',
 'rana',
 'ali',
 'irfan',
 'fraz',
 'saddiq',
 'ramzan',
 'shakeel',
 'ijaz']

In [57]:
names.remove("ramzan")

In [58]:
names

['saeed',
 'rana',
 'ali',
 'irfan',
 'fraz',
 'saddiq',
 'ramzan',
 'shakeel',
 'ijaz']

In [59]:
number

[2, 4, 10, 5, 782, 55, 77, 20, 30, 40, 60, 10, 10, 10, 10]

In [60]:
number.remove(782)

In [61]:
number

[2, 4, 10, 5, 55, 77, 20, 30, 40, 60, 10, 10, 10, 10]

#  DELETE

In [62]:
names

['saeed',
 'rana',
 'ali',
 'irfan',
 'fraz',
 'saddiq',
 'ramzan',
 'shakeel',
 'ijaz']

In [66]:
names

['saeed',
 'rana',
 'ali',
 'irfan',
 'fraz',
 'saddiq',
 'ramzan',
 'shakeel',
 'ijaz']

In [67]:
number

[2, 4, 10, 5, 55, 77, 20, 30, 40, 60, 10, 10, 10, 10]

#  POP FUNCTION

In [68]:
number

[2, 4, 10, 5, 55, 77, 20, 30, 40, 60, 10, 10, 10, 10]

In [70]:
number.remove(10)

In [71]:
number

[2, 4, 5, 55, 77, 20, 30, 40, 60, 10, 10, 10, 10]

In [72]:
names

['saeed',
 'rana',
 'ali',
 'irfan',
 'fraz',
 'saddiq',
 'ramzan',
 'shakeel',
 'ijaz']

In [73]:
names10=names.pop(4)

In [74]:
names

['saeed', 'rana', 'ali', 'irfan', 'saddiq', 'ramzan', 'shakeel', 'ijaz']

In [75]:
names10

'fraz'

In [77]:
number10=number.pop(7)

number

number10

In [78]:
print(number)

[2, 4, 5, 55, 77, 20, 30, 60, 10, 10, 10, 10]

In [79]:
number10

40

#  SORT FUNCTION

In [80]:
number.sort()

In [81]:
number

[2, 4, 5, 10, 10, 10, 10, 20, 30, 55, 60, 77]

In [82]:
names

['saeed', 'rana', 'ali', 'irfan', 'saddiq', 'ramzan', 'shakeel', 'ijaz']

In [83]:
names.sort()

In [84]:
names

['ali', 'ijaz', 'irfan', 'ramzan', 'rana', 'saddiq', 'saeed', 'shakeel']

In [85]:
number.reverse()

In [86]:
number

[77, 60, 55, 30, 20, 10, 10, 10, 10, 5, 4, 2]

#   REVERSRE FUNCTION

In [87]:
names

['ali', 'ijaz', 'irfan', 'ramzan', 'rana', 'saddiq', 'saeed', 'shakeel']

In [88]:
names.reverse()

In [89]:
names

['shakeel', 'saeed', 'saddiq', 'rana', 'ramzan', 'irfan', 'ijaz', 'ali']

In [90]:
number

[77, 60, 55, 30, 20, 10, 10, 10, 10, 5, 4, 2]

In [91]:
number.reverse()

In [92]:
number

[2, 4, 5, 10, 10, 10, 10, 20, 30, 55, 60, 77]